/*exo-2-regular - latin */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/exo-2-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/exo-2-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-600 - latin */
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/exo-2-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/exo-2-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-2-700 - latin */
  @font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/exo-2-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/exo-2-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* oranienbaum-regular - latin */
@font-face {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/oranienbaum-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/oranienbaum-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* ROOT */
:root{
    --main-bg-color:#fff;
}
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ul{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
/* HEADER STYLE START */
.site-header{
    padding: 50px 0 100px  0;
    background: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.site-header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header__wrapper__start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-right: 30px;
}
.site-header__wrapper__start__btn{
    border: none;
    background-color: transparent
}
.site-nav{
    width: 48%;
}
.site-nav__list{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.site-nav__item{
    position: relative;
}
.site-nav__link{
    display: flex;
    gap: 10px;
    font-size: 16px;
    line-height: 19px;  
    color: #201F1E;
}
.site-nav__link:hover ~ .site-nav__item-icon{
    visibility: visible;
}
.site-header__playbtn__img{
    display: block;
}
.site-nav__item-icon{
    position: absolute;
    visibility: hidden;
}
.top-left{
    top: -10px;
    left: -10px;
}
.bottom-left{
    transform: rotate(-90deg);
    bottom: -10px;
    left: -10px;
}
.top-right{
    transform: rotate(90deg);
    right: -10px;
    top: -10px;
}
.bottom-right{
    transform: rotate(180deg);
    bottom: -10px;
    right: -10px;
}
.site-header__wrapper__end{
    width: 50%;
    display: flex;
    align-items: center;
}
.site-header__wrapper__end-number{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: auto;
}
.site-header__wrapper__end__search{
    margin-left: 8%;
    border: none;
    background:transparent;
}
.site-header__wrapper__end-questions{
    margin-left: 6%;
    padding: 15px 41px 16px 33px;
    border: 1px solid #fff;
    color: #fff;
}
@media screen and (max-width:1300px) {
    .site-header__wrapper__start{
        padding-right: 0;
    }
    .site-nav__list{
        flex-direction: column;
        gap: 5px;
    }
}
@media screen and (max-width:1165px) {
    .site-nav{
        display: none;
    }
}
/* HEADER STYLE END*/

.home-main{
    display: flex;
}
.home-main >div{
    width: 50%;
    height: 100%;
}
.site-main__start{
    padding-top: 293px;
    padding-left: 60px;
    background-color: #fff;
}
@media screen and (max-width:1165px) {
    .site-header{
        padding-top: 20px;
    }
    .site-main__start{
        display: none;
    }
    .home-main>div{
        width: 100%;
    }
}
.site-main__start-title{
    width: 80%;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 42px;
    line-height: 65px;
    color: #201F1E;
}
@media screen and (max-width:1300px) {
    .site-main__start-title{
        width: 100%;
    }
}
.site-main__start-desc{
    width: 75%;
    margin: 0;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 163%;
    color: #8A8A8A;
}
.site-main__start__form{
    display: flex;
}
.site-main__start-input{
    height: 70px;
    padding-left: 20px;
    padding-right: 100px;
    font-size: 16px;
    line-height: 19px;
    color: #CCCCCC;
    border: none;
    box-shadow: 0px 0px 30px #0967261a;
}
.site-main__start-submit{
    padding: 26px 31px 26px 16px;
    background-color: #0A7F2E;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
}
.site-main__end{
    padding-top: 192px;
    padding-bottom: 64px;
    background: linear-gradient(38.36deg, #0A7F2E 0%, #000000 181.17%);
}
.site-main__end-img{
    display: block;
    margin: 0 auto;
    margin-bottom:59px;
}
.site-main__end__subtitle{
    margin-bottom: 26px;
    margin-left: 80px;
    padding-bottom: 11px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
    border-bottom: 1.5px solid #fff;
}
.site-main__end-desc{
    margin-left: 80px;
    margin-bottom: 43px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffffb3;
}
@media screen and (max-width:1165px) {
    .site-main__end{
        text-align: center;
    }
    .site-main__end-list{
        margin: 0 auto;
    }
       
}
.site-main__end-list{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.site-main__end-btn{
    width: 15px;
    height: 15px;
    background-color:#ffffff33;;
    border: none;
}
.site-main__end-btn:active{
    background-color: #fff;
}
.site-main__end-item:nth-child(1){
    width: 15px;
    height: 15px;
    background-color: #fff;
}



/* XIZMATLAR PAGE STYLE START */
.xizmatlar-header{
    padding: 50px 0;    
}
.xizmatlar-number{
    color:  #666666;
}
.xizmatlar-qustions{
    color: #666666;
    border: 1px solid #666;
}
.xizmatlar-main{
    padding-bottom: 104px;
}
.xizmatlar-main__wrapper-top{
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}
.xizmatlar-main__title{
    margin-left: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0A7F2E;
}
.xizmatlar-main__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.xizmatlar-main__item{
    position: relative;
    width: 327px;
    height: 333px;
    margin-bottom: 30px;
    padding: 20px 30px 0px 30px;
    box-shadow: 0px 0px 30px #0000001a;
}
.xizmatlar-main__item:nth-child(8){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.xizmatlar-main__item:hover{
    transform: translateY(-15px);
    border: 2px dashed #0A7F2E; 
}
.xizmatlar-main__link-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 29px;
}
.xizmatlar-main__link-btn{
    visibility: hidden;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(157, 154, 154, 0.7);
}
.xizmatlar-main__item:hover  .xizmatlar-main__link-btn{
    visibility: visible;
}
.xizmatalar-main__subtitle{
    margin: 0;
    font-weight: 600;
    font-size: 29px;
    line-height: 50px;
    color: #201F1E;
}
.xizmatlar-main__points-img{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media screen and (max-width:694px) {
    .xizmatlar-main__item{
        margin: 0 auto;
        margin-bottom: 30px;
        transform: translateY(0);
    }
}
@media screen and (max-width:694px) {
    .xizmatlar-main__item{
        margin: 0 auto;
        margin-bottom: 30px;
        transform: translateY(0);
    }
}
/* XIZMATLAR PAGE STYLE END */

    
/* LOYIHALAR PAGE STYLE START */
.loyihalar-wrapper{
    text-align: center;
}
.loyihalar-wrapper__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35.6px;
}
.loyihalar-wrapper__top__start{
    display: flex;
    align-items: center;
    justify-content: left;
}
.loyihalar-wrapper__top-list{
    display: flex;
    gap: 40px;
}
.loyihalar-wrapper__top-item{
    position: relative;
}
.loyihalar-wrapper__top-link{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 5px;
    line-height: 19px;
    color: #A6A6A6;
}
.loyihalar-wrapper__top-link:hover{
    color: #494846;
}
.loyihalar-wrapper__top-link::after{
    content:" ";
    width: 0%;
    height: 3px;
    background-color:#0A7F2E;
    position: absolute;
    bottom:-5px;
    left: 50%;
    transform: translatex(-50%);
    transition: width .26s linear    ;
    
}
.loyihalar-wrapper__top-link:hover::after{
    width: 97%;
}
.loyihalar-wrapper__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;;
    padding-left: 0;
}
.loyihalar-wrapper__item{
    width: 420px;
    filter: drop-shadow(0px 0px 30px rgba(10, 127, 46, 0.15));
}
.loyihalar-wrapper__link{
    width: 50%;
}
.loyihalar-wrapper__img{
    display: block;
    width: 100%;
    height: 100%;
}
.loyihalar-wrapper__item:nth-child(1){
    padding: 20px;
}
.loyihalar-wrapper__button{
    margin-bottom: 60px;
    padding: 20px 57px;
    border: 2px solid #0A7F2E;
    background-color: transparent;
    font-size: 24px;
    line-height: 29px;
    color: #0A7F2E;
}
@media screen and (max-width:1000px) {
    .loyihalar-wrapper__top-list{
        flex-direction: column;
        gap: 5px;
    }
}
@media screen and (max-width:879px) {
    .loyihalar-wrapper__list{
        text-align: center;
    }
    .loyihalar-wrapper__item{
        margin: 0 auto;
    }
}
@media screen and (max-width:460px) {
    .loyihalar-wrapper__top{
        flex-direction: column;  
    }
    .loyihalar-wrapper__top-list{
        text-align: center;
    }
}
/* LOYIHALAR PAGE STYLE END */
